/* Initial setup */

html {                         /* ROOT */
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.56;   /* Relative to font size */
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1,h2,h3,p {
    margin-top: 0;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--background);
    color: var(--text-1);
    /* font-size: 18px; */
}

.wrapper {
    width: 100%;
    max-width: var(--container-width-mobile);
    margin-inline: auto;
}

/* HEADER */

.header {
    margin-top: 20px;
    display: flex;
}

.header__nav {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__nav a {
    text-decoration: none;
}

.header__home {
    /* display: block; */
    justify-self: flex-start;
    padding: 0;
    line-height: 1;
}

.header__home li a {
    font-size: var(--fs-h3);
    text-align: center;
    color: var(--text-1);
    transition: color var(--transition);
}

.header__nav li {
    list-style: none;
}

.header__logos {
    display: flex;
    /* align-items: space-between; */
    gap: 20px 25px;
    padding: 0;
}

.header__home a:hover {
    color: var(--green);
}

nav svg > path {
    transition: fill var(--transition);
}

nav svg:hover path {
    fill: var(--green);
}

/* HERO */

.hero {
    text-align: center;
    /* outline: 1px solid red; */
}

.hero__wrapper {
    /* position: relative;   Breaks link hover */
    bottom: 145px;
}

.hero__image {
    z-index: -1;
    margin: 0;
    padding: 0; 
    /* outline: 1px solid lime;   */
}

.hero__image img {
    max-width: 100%;
}

.hero__headline {

}

.hero__headline span {
    text-decoration: underline;
    text-decoration-color: var(--green);
}

.hero__description {

}

.experience__wrapper {
    outline: 1px solid blue;
}


:root {
    --background: hsl(0, 0%, 8%);
    --dark-grey: hsl(0, 0%, 14%);
    --green: hsl(153, 71%, 59%);
    --text-1: hsl(0, 0%, 100%);
    --text-2: hsl(0, 0%, 85%);
    --red: hsl(7, 100%, 68%);
    /* font sizes */
    --fs-h1: clamp(2.5rem, 1.9rem + 3vw, 5.5rem);
    --fs-h2: clamp(2.5rem, 2.4rem + 0.5vw, 3rem);
    --fs-h3: clamp(1.5rem, 2.1rem + -0.5vw, 2rem);
    --fs-p: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
    /* Layout */
    --container-width-desktop: 77%;
    --container-width-tablet: 92%;
    --container-width-mobile: 92%;

    --transition: 250ms ease-in-out;
}

h1 {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 1.9rem + 3vw, 5.5rem);
    font-weight: 700;
    line-height: 1em;           /* Keeping relative to element font size which translates across tablet/mobile */
}
h2 {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 2.4rem + 0.5vw, 3rem);
    font-weight: 700;
    line-height: 1.16em;
}
h3 {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 2.1rem + -0.5vw, 2rem);
    font-weight: 700;
    line-height: 1.33em;
}
p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
    font-weight: 500;
    line-height: 1.55em;
}

/* Media queries */

@media screen and (min-width: 600px) {     /* Small tablet and above */
    .wrapper {
        width: 92%;
    }
    .header__nav {
        flex-direction: row;
    }
    .header__home {
        text-align: left;
    }
    .header__logos {
        gap: 20px 32px;
    }
}

@media screen and (min-width: 992px) {     /* Desktop */
    .wrapper {
        width: 77%;
    } 
    .header__home {

    }
    .header__nav {
        
    }
}