/* Initial setup */

html {                         /* ROOT */
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.56;   /* Relative to font size */
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--background);
    color: var(--text-1);
    font-size: 18px;
}

.wrapper {
    width: 100%;
    max-width: var(--container-width-m);
    margin-inline: auto;
}

@media screen and (min-width: 600px) {     /* Small tablet and above */
    .wrapper {
        width: 92%;
    }
}

@media screen and (min-width: 992px) {     /* Desktop */
    .wrapper {
        width: 77%;
    } 
}

:root {
    --background: hsl(0, 0%, 8%);
    --dark-grey: hsl(0, 0%, 14%);
    --green: hsl(153, 71%, 59%);
    --text-1: hsl(0, 0%, 100%);
    --text-2: hsl(0, 0%, 85%);
    --red: hsl(7, 100%, 68%);
    /* Desktop font sizes */
    --fs-h1: 4.88rem;
    --fs-h2: 2.66rem;
    --fs-h3: 1.77rem;
    --fs-p: 1rem;
    /* Tablet font sizes */
    --fs-h1-t: 4rem;
    --fs-h2-t: 2.66rem;
    --fs-h3-t: 1.77rem;
    --fs-p-t: 1rem;
    /* Mobile font sizes */
    --fs-h1-m: 2.22rem;
    --fs-h2-m: 1.77rem;
    --fs-h3-m: 1.33rem;
    --fs-p-m: 0.88rem;
    /* Layout */
    --container-width-d: 77%;
    --container-width-t: 92%;
    --container-width-m: 92%;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: 700;
    line-height: 1em;           /* Keeping relative to element font size which translates across tablet/mobile */
}
h2 {
    font-size: var(--fs-h2);
    font-weight: 700;
    line-height: 1.16em;
}
h3 {
    font-size: var(--fs-h3);
    font-weight: 700;
    line-height: 1.33em;
}
p {
    font-size: var(--fs-p);
    font-weight: 500;
    line-height: 1.55em;
}