<link rel="stylesheet" href="/css/aboutme.css">
<% layout('../layouts/boilerplate')%>
    <main>
        <section class="aboutMe__hero wrapper">
            <div class="aboutMe__title">
                <h1 class="observed my-4">
                    <span class="svg--underlined">
                        About Me<svg viewBox="0 0 261 15" class="svg--underline">
                            <path
                                d="M260.873 1.13231C261.529 3.77683 256.062 3.58368 254.362 4.35423C234.067 8.56861 196.462 11.0159 175.722 12.0618C158.958 12.8467 142.229 14.1022 125.444 14.4597C113.074 14.9857 100.688 14.4207 88.3119 14.7844C62.2162 14.9714 35.9892 15.1707 10.0571 12.0453C7.36529 11.5029 4.5057 11.4453 1.93012 10.5145C-4.66696 6.11313 7.52882 6.09053 10.2184 6.55697C87.6685 12.5261 88.6863 12.1789 147.548 10.2248C173.583 9.44806 199.451 6.27752 239.373 1.7056C240.389 1.57204 241.349 2.43711 241.192 3.42341C245.104 2.90146 248.999 2.27037 252.873 1.53094C254.881 1.05217 256.897 0.593955 258.887 0.0535445C259.3 -0.0504262 259.739 0.00403855 260.11 0.205278C260.481 0.406518 260.755 0.738539 260.873 1.13026V1.13231Z"
                                fill="hsl(153, 71%, 59%)"></path>
                        </svg>
                    </span>
                </h1>
            </div>
            <div class="aboutMe__intro my-0">
                <img class="aboutMe__heroImg slide-right my-2" src="../images/jamie-1.jpg" alt="Profile Picture">
                <div class="aboutMe__greeting py-3">
                    <h2>Hi there, I'm Jamie.</h2>
                    <h4 class="hero__description m-0 py-2">
                        I'm a driven, creative individual who loves building
                        things with code.
                    </h4>
                </div>
            </div>

        </section>
        <section class="blurb">
            <div class="aboutMe__blurb wrapper">
                <div class="slide-up">
                    <p>
                        I started my programming journey a while ago - as a restless teenager, I was always
                        looking for
                        creative projects to get stuck into, and computers seemed to offer a lot of fun
                        possibilities -
                        whether it was tinkering with basic music software, or amateur attempts at web dev.
                    </p>
                    <p>
                        A good number of friends and I shared a love of video games, so naturally I went
                        all-in
                        and
                        built a fan
                        website offering reviews and content on the PS2 - a state-of-the-art console
                        with
                        photo-realistic
                        graphics, if you can imagine it. I hacked together a layout with the aid of HTML
                        tables
                        (how
                        everything
                        on the web was built back then) and the equally modern FrontPage Express
                        (WYSIWGY editor
                        discontinued as of 2006), along with some (probably very cringeworthy) tributes
                        to the
                        review
                        magazines we used to read.
                    </p>
                </div>
                <div class="slide-up">
                    <p>
                        Despite all of this natural curiosity in the days of dial-up internet, I didn't
                        originally
                        pursue coding as a career - I had a number of interests which initially
                        took me in other directions, towards studying in the arts and working for charitable
                        organisations.
                    </p>
                    <p>
                        Years later, something 'clicked.' Picking up audio software, I realised that I was
                        making
                        heavy use of something called a ‘logical
                        editor,’ writing scripts for software samplers, and diving deep into 'programming'
                        tracks
                        with
                        sequencers or Elektron devices (conditional trigs, anyone?). In my job, I gravitated
                        towards
                        problem-solving through process automation and by writing programs and macros
                        (leading to my
                        <a href="./projects/directDebits"><span class="underline hover--green">Direct Debit Calendar
                                app</span></a>).
                    </p>
                </div>
                <div class="imgcols-2 slide-left">
                    <div><img src="../images/Guitar.png" alt="Playing guitar"></div>
                    <div><img src="../images/jamie-2.jpg" alt="Playing piano"></div>
                </div>

                <div class="slide-up">
                    <p>
                        Since then, I've come full circle. I have been intensively self-teaching programming
                        (thanks
                        to a wealth of online resources, and mentors in the field) - you can see what I've been
                        working
                        on as I learn <a href="./#projectsAnchor"><span class="underline hover--green">here</span></a>.
                        I'm excited to keep learning and to bring this to a
                        career in tech.
                    </p>
                    <p>
                        If you like my work and would like to contact me or build something together, I'd
                        love to
                        hear
                        from you - please:
                    </p>
                </div>
                <div class="hero__contact p-4 slide-right"><button class="pushable">
                        <a class="front fs--h4" href="./#contactMe">Get in touch</a>
                    </button>
                </div>

            </div>
        </section>
    </main>