<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
  <title>Single-page developer portfolio</title>
  <script src="js/p5.min.js"></script>
  <script src="js/p5.asciiart.min.js"></script>
  <script src="js/asciiart_stillimage_example.js"></script>
  <!-- <script src="sketch.js"></script> -->
  <script src="https://kit.fontawesome.com/762a7ebf5f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <%- include('../partials/navbar') %>
  <main>
    <section class="hero wrapper">
      <!-- <img class="hero__logo" src="assets/images/transparentlogo-white.png"> -->
      <img class="hero__rings" src="images/pattern-rings.svg" alt="" width="530" height="129">
      <img class="hero__circle" src="images/pattern-circle.svg" alt="" width="129" height="129">
      <div class="hero__image" id="image-container">
        <!-- <img src="assets/images/image-profile-mobile.webp" alt="Picture of me" srcset="
            assets/images/image-profile-desktop.webp 890w,
            assets/images/image-profile-tablet.webp 646w,
            assets/images/image-profile-mobile.webp 348w" sizes="
            (max-width: 600px) 46vw,
            (max-width: 992px) 41vw, 30vw"> -->
      </div>
      <div class="hero__text">
        <h1 class="hero__headline wrapper">Hi there,<br>I'm <span>Jamie</span>.</h1>
        <p class="hero__description wrapper">Based in the UK, I'm a front-end developer with a passion for
          building high quality and accessible web apps. You can check out my work below.</p>
        <a class="hero__contact wrapper underline" href="#contactMe">Get in touch</a>
      </div>

    </section>
    <section class="experience">
      <div class="bg--grey angle-slopeup">
        <h2 class="wrapper">My Skills</h2>
        <p class="wrapper">I use the tools below regularly, and have been able to put them into practice through a number of <a href="#projects"><span class="underline">projects</span></a>. I love learning new skills and tech, and I am continuing to add more to the stack:</p>
        <div class="wrapper experience__wrapper">
          <div class="experience__box">
            <p>HTML / CSS</p>
          </div>
          <div class="experience__box">
            <p>Javascript ES6</p>
          </div>
          <div class="experience__box">
            <p>Git / Github</p>
          </div>
          <div class="experience__box">
            <p>BootStrap</p>
          </div>
          <div class="experience__box">
            <p>Express</p>
          </div>
          <div class="experience__box">
            <p>Mongo DB</p>
          </div>
        </div>

    </section>
    <section class="projects" id="projects">
      <div class="bg--black">
        <div class="wrapper projects__wrapper">
          <div class="projects__header">
            <h1>Projects</h1>
            <a class="hero__contact underline" href="#contactMe">Contact Me</a>
          </div>
          <div class="projects__main">
            <div class="projects__box">
              <div class="projects__img">
                <img src="images/tile-puzzle-pitch.png" alt="Project 1">
                <div class="img-overlay img-overlay--blur">
                  <div class="img-overlay__button">
                    <a class="button--outline-dark" href="salary-calculator.html">
                      Read More >
                    </a>
                  </div>
                  <div class="img-overlay__text">
                    <ul>
                      <li>Interactive puzzle feature for a healthcare organisation's landing page</li>
                      <li>Uses the canvas API and p5.js</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="projects__text">
                <div class="projects__top">
                  <div class="projects__top">
                    <p class="projects__title">Sliding Puzzle</p>
                  </div>
                </div>
                <div class="projects__info caps caps">
                  <div class="projects__languages">
                    <p>HTML/CSS</p>
                    <p>JAVASCRIPT</p>
                    <p>P5.JS</p>
                  </div>
                  <div class="projects__links">
                    <a href="projects/slidingPuzzle" class="underline underline--animated">
                      <div class="projects__link">
                        <i class="fa-solid fa-book projects__icon"></i>
                        <span class="link">View project</span>
                      </div>
                    </a>
                    <a href="" class="underline underline--animated">
                      <i class="fa-solid fa-laptop-code projects__icon"></i>
                      <span class="link">View code</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="projects__box">
              <div class="projects__img">
                <img src="images/thumbnail-project-1-small.webp" alt="Project 1">
                <div class="img-overlay img-overlay--blur">
                  <div class="img-overlay__button">
                    <a class="button--outline-dark" href="salary-calculator.html">
                      Read More >
                    </a>
                  </div>
                  <div class="img-overlay__text">
                    <ul>
                      <li>JavaScript web app to generate calendar data a company's Direct Debit processes</li>
                      <li>Features unit-testing with Mocha.js and Chai, which can be run from the browser</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="projects__text">
                <div class="projects__top">
                  <p class="projects__title">Direct Debit Processing Calendar</p>
                </div>
                <div class="projects__info caps">
                  <div class="projects__languages">
                    <p>HTML/CSS</p>
                    <p>JAVASCRIPT</p>
                    <p>MOCHA.JS</p>
                  </div>
                  <div class="projects__links">
                    <a href="projects/directDebits" class="underline underline--animated">
                      <i class="fa-solid fa-book projects__icon"></i>
                      <span class="link">View project</span>
                    </a>
                    <a href="" class="underline underline--animated">
                      <i class="fa-solid fa-laptop-code projects__icon"></i>
                      <span class="link">View code</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="projects__box">
              <div class="projects__img">
                <img src="images/thumbnail-project-1-small.webp" alt="Project 1">
                <div class="img-overlay img-overlay--blur">
                  <div class="img-overlay__button">
                    <a class="button--outline-dark" href="salary-calculator.html">
                      Read More >
                    </a>
                  </div>
                  <div class="img-overlay__text">
                    <ul>
                      <li>Full-stack web application with CRUD functionality</li>
                      <li>Allows user to add/read/update/delete reviews</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="projects__text">
                <div class="projects__top">
                  <p class="projects__title">YelpCamp</p>
                </div>
                <div class="projects__info caps">
                  <div class="projects__languages">
                    <p>HTML/CSS</p>
                    <p>JAVASCRIPT</p>
                    <p>EXPRESS</p>
                    <p>MONGO DB</p>
                  </div>
                  <div class="projects__links">
                    <a href="projects/yelpCamp" class="underline underline--animated">
                      <i class="fa-solid fa-book projects__icon"></i>
                      <span class="link">View project</span>
                    </a>
                    <a href="" class="underline underline--animated">
                      <i class="fa-solid fa-laptop-code projects__icon"></i>
                      <span class="link">View code</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="projects__box">
              <div class="projects__img">
                <img src="images/thumbnail-project-1-small.webp" alt="Project 1">
                <div class="img-overlay img-overlay--blur">
                  <div class="img-overlay__button">
                    <a class="button--outline-dark" href="salary-calculator.html">
                      Read More >
                    </a>
                  </div>
                  <div class="img-overlay__text">
                    <ul>
                      <li>JS app designed to test credit card numbers</li>
                      <li>Validation functions were created according to the Luhn algorithm</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="projects__text">
                <div class="projects__top">
                  <p class="projects__title">Credit Card Checker</p>
                </div>
                <div class="projects__info caps">
                  <div class="projects__languages">
                    <p>HTML/CSS</p>
                    <p>JAVASCRIPT</p>
                    <p>MOCHA.JS</p>
                  </div>
                  <div class="projects__links">
                    <a href="projects/credit-card" class="underline underline--animated">
                      <i class="fa-solid fa-book projects__icon"></i>
                      <span class="link">View project</span>
                    </a>
                    <a href="" class="underline underline--animated">
                      <i class="fa-solid fa-laptop-code projects__icon"></i>
                      <span class="link">View code</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="projects__box">
              <div class="projects__img">
                <img src="images/thumbnail-project-1-small.webp" alt="Project 1">
                <div class="img-overlay img-overlay--blur">
                  <div class="img-overlay__button">
                    <a class="button--outline-dark" href="salary-calculator.html">
                      Read More >
                    </a>
                  </div>
                  <div class="img-overlay__text">
                    <ul>
                      <li>Web app created with CSS & JS allowing for interactive scorekeeping.</li>
                      <li>
                        Includes winning conditions, tiebreak and game reset functions
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="projects__text">
                <div class="projects__top">
                  <p class="projects__title">Ping Pong Scorekeeper</p>
                </div>
                <div class="projects__info caps">
                  <div class="projects__languages">
                    <p>HTML/CSS</p>
                    <p>JAVASCRIPT</p>
                  </div>
                  <div class="projects__links">
                    <a href="projects/ping-pong" class="underline underline--animated">
                      <i class="fa-solid fa-book projects__icon"></i>
                      <span class="link">View project</span>
                    </a>
                    <a href="" class="underline underline--animated">
                      <i class="fa-solid fa-laptop-code projects__icon"></i>
                      <span class="link">View code</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="projects__box">
              <div class="projects__img">
                <img src="images/thumbnail-project-1-small.webp" alt="Project 1">
                <div class="img-overlay img-overlay--blur">
                  <div class="img-overlay__button">
                    <a class="button--outline-dark" href="salary-calculator.html">
                      Read More >
                    </a>
                  </div>
                  <div class="img-overlay__text">
                    <ul>
                      <li>Style guide page with HTML/CSS for use with web pages</li>
                      <li>Includes JS interactivity with customisable styling (colours) and dynamic style preview section
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="projects__text">
                <div class="projects__top">
                  <p class="projects__title">Website Design System</p>
                </div>
                <div class="projects__info caps">
                  <div class="projects__languages">
                    <p>HTML/CSS</p>
                    <p>JAVASCRIPT</p>
                    <p>FIGMA</p>
                  </div>
                  <div class="projects__links">
                    <a href="projects/design-system" class="underline underline--animated">
                      <i class="fa-solid fa-book projects__icon"></i>
                      <span class="link">View project</span>
                    </a>
                    <a href="" class="underline underline--animated">
                      <i class="fa-solid fa-laptop-code projects__icon"></i>
                      <span class="link">View code</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
    <section class="contact angle-footer" id="contactMe">
      <div class="wrapper contact__wrapper">
        <div class="contact__title">
          <h1>Contact</h1>
        </div>
        <div class="contact__description">
          <p>
            I would love to hear from you - please
            fill in the form, and I’ll get back to you as soon as possible.
          </p>
        </div>
        <form class="contact__form" action="#" method="POST">
          <div class="contact__field">
            <label for="name">Name</label>
            <input class="contact__input" type="text" name="name" id="name">
          </div>
          <div class="contact__field middle">
            <label for="email">Email</label>
            <input class="contact__input" type="email" name="email" id="email">
          </div>
          <div class="contact__field message__field middle">
            <label for="message" id="message">Message</label>
            <textarea class="contact__input" id="message" name="message" rows="10" cols="80"
              placeholder="Say hello"></textarea>
          </div>
          <div class="contact__submit">
            <button class="btn underline underline--animated"><i class="fa-regular fa-paper-plane projects__icon"></i>
              Send Message</button>
          </div>
        </form>
      </div>
      </div>
    </section>
  </main>
  <%- include('../partials/footer') %>
  <!-- <script src="../index.js"></script> -->
</body>

</html>