/* Project show page */
.header__icons {
  display: none;
}

h3,
h4 {
  margin: 0;
}

p,
.fs--p,
li,
a {
  font-size: var(--fs-p);
}

.underline--green.underline--animated:after {
  padding-bottom: 0px;
}

.project__underline svg {
  max-width: 85%;
}

.projects__link:hover,
.projects__link svg {
  color: white;
}

.project__info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 40px;
  justify-content: space-between;
}

.social-icon,
.hamburger {
  background-color: rgba(0, 0, 0, 0);
}

.social-icon.whiteOnBlack path,
.hamburger.whiteOnBlack,
.active-burger {
  fill: white;
}
.social-icon path,
.hamburger {
  fill: black;
}

.social-icon.whiteOnBlack path,
.hamburger.whiteOnBlack,
.hamburger.active-burger {
  fill: white;
}

.project__stackList,
.project__live a,
.project__code a {
  padding: 0;
  margin: 1rem 0;
}

.project__mainImg img {
  object-fit: cover;
  /* object-position: 50% 0%; */
  max-width: 100%;
}

.project__otherProjects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.otherProject {
  display: flex;
  flex-direction: column;
  flex: 1 0 45%;
}

.demoVid--halfPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.row {
  width: 100%;
}

.col-imgs-2 div {
  /* flex: 1; */
}

.col-imgs-2 div img {
  /* flex: 1; */
  max-height: 600px;
}

li,
a {
  font-size: var(--fs-p);
}

.features-box li,
.project__purpose li,
.lessons-box li,
.challenges-box li {
  list-style: square outside;
}

.features-box li::marker,
.project__purpose li::marker,
.lessons-box li::marker,
.challenges-box li::marker {
  color: var(--vibrant-blue);
}

.text-box {
  flex: 1;
}

.screenshot-box {
  flex: 1;
  /* display: flex; */
  /* flex-direction: column; */
  gap: 25px;
}

.screenshot-box img {
  max-width: 100%;
  /* object-fit: cover; */
  /* box-shadow: 10px 5px 20px black; */
  /* object-position: 80% 0%; */
}

.screenshot-box.challenges {
  display: flex;
  flex-wrap: wrap;
}

.project__features .screenshot-box {
  max-width: 60%;
}

@media screen and (min-width: 768px) {
  .project__header h1 {
    /* max-width: 70%; */
  }

  .demoVid--halfPage {
    /* max-width: 65%; */
  }

  .project__underline {
    max-width: 80%;
  }

  .col-imgs-2 img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: 0% 0%;
  }

  .screenshot-box {
    /* order: 2; */
    flex-direction: row;
    /* margin-top: 4.5rem; */
  }

  .grid--ratio1to2 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      ". hd"
      "imgs txt";
  }

  .grid--ratio2to1 {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
  }

  .challenges-title {
    grid-area: hd;
  }

  .screenshot-box.challenges {
    align-items: flex-start;
  }

  .challenges-img {
    flex: 1 0 45%;
    margin: 5px;
  }

  .project__otherProjects {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 990px) {
  .project__features .col-layout {
    flex-direction: column;
  }

  .project__features .screenshot-box {
    max-width: 80%;
  }

  .challenges-img {
    max-width: 60%;
  }
}

@media screen and (min-width: 1600px) {
  .project__features .col-layout {
    flex-direction: row;
  }
  .project__features .screenshot-box {
    max-width: 40%;
  }

  .challenges-img {
    flex: 1 0 30%;
    margin: 5px;
  }
}
