/* Project show page */
.header__icons {
  display: none;
}

h3,
h4 {
  margin: 0;
}

.underline--green.underline--animated:after {
  padding-bottom: 0px;
}

.project__underline svg {
  max-width: 85%;
}

.projects__link:hover,
.projects__link svg {
  color: white;
}

.project__info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 40px;
  justify-content: space-between;
}

.social-icon,
.hamburger {
  background-color: rgba(0, 0, 0, 0);
}

.social-icon.whiteOnBlack path,
.hamburger.whiteOnBlack,
.active-burger {
  fill: white;
}
.social-icon path,
.hamburger {
  fill: black;
}

.social-icon.whiteOnBlack path,
.hamburger.whiteOnBlack,
.hamburger.active-burger {
  fill: white;
}

.project__stackList,
.project__live a,
.project__code a {
  padding: 0;
  margin: 1rem 0;
}

.project__mainImg img {
  object-fit: cover;
  /* object-position: 50% 0%; */
  max-width: 100%;
}

.otherProject {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.demoVid--halfPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
}

.col-imgs-2 div {
  /* flex: 1; */
}

.col-imgs-2 div img {
  /* flex: 1; */
  max-height: 600px;
}

.project__otherProjects.col-layout {
  gap: 30%;
}

li,
a {
  font-size: var(--fs-p);
}

.features-box li, .project__purpose li {
  list-style: square outside;
}

.features-box li::marker, .project__purpose li::marker {
  color: var(--vibrant-blue);
}

.grid--ratio1to2 {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    ". hd"
    "imgs txt"
}

.text-box {
  flex: 1;
}

.screenshot-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-around;
  align-items: center;
}

.screenshot-box img {
  max-width: 90%;
  /* object-fit: cover; */
  /* box-shadow: 10px 5px 20px black; */
  /* object-position: 80% 0%; */
}

.screenshot-box.challenges {
  /* margin-top: 5rem; */
}

@media screen and (min-width: 768px) {
  .project__header h1 {
    /* max-width: 70%; */
  }

  .demoVid--halfPage {
    margin-left: 0;
    max-width: 450px;
  }

  .project__underline {
    max-width: 80%;
  }

  .col-imgs-2 img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: 0% 0%;
  }
  
  .screenshot-box {
    /* order: 2; */
    flex-direction: row;
    /* margin-top: 4.5rem; */
    gap: 40px;
  }

  .challenges-title {
    grid-area: hd;
  }

  .screenshot-box.challenges {
    flex-direction: column;
    justify-content: flex-start;
    grid-area: imgs;
  }

  .challenges-box {
    grid-area: txt;
  }
  .challenges-box p:nth-of-type(1) {
    margin-top: 0;
  }
}

@media screen and (min-width: 990px) {
  li,
  a {
    font-size: var(--fs-h5);
  }
}
