<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (projectTitle) { %>
            <%= projectTitle %>
        <% } else { %>
            My Portfolio
        <% } %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/projectStyles.css">
</head>

<body>
    <main class="main-wrapper">
        <%- include('../partials/navbar')%>
            <%- body %>
                <%- include('../partials/footer') %>
    </main>
    <script src="../js/design.js"></script>
</body>

</html>