<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= projectInfo.title %></title>
</head>
<body>
    <% layout('../layouts/boilerplate')%>
    <main>
        <section class="hero wrapper">
            <h1><%= projectInfo.title %></h1>
            <p><%= projectInfo.description %></p>
        </section>
        <section class="wrapper">
            
        </section>
        
    </main>
    <!-- <img src="/images/jamie-1.jpg" alt=""> -->
</body>
</html>